.ext-word {
    color: #2b579a;
}
.ext-pdf {
    color: #ff0000;
}
.ext-powerpoint {
    color: #d24726;
}
.ext-sheet {
    color: #217346;
}
.ext-audio {
    color: orange;
}
.ext-video {
    color: #1e90ff;
}
.ext-img {
    color: #ff69b4;
}
.ext-code {
    color: #508855;
}
.ext-txt {
    color: #808080;
}
.ext-unknown {
    color: #808080;
}
.ext-iso {
    color: #808080;
}
.ext-archive {
    color: #31338c;
}
.ext-diagrams {
    color: #f08705;
}
.ext-torrent {
    display: inline-block;
    background: linear-gradient(90deg, rgb(217, 36, 36) 0%, rgb(217, 36, 36) 50%, rgb(35, 47, 255) 50%, rgb(35, 47, 255) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
