.ext-word {
    color: #2b579a;
}
.ext-pdf {
    color: #b30b00;
}
.ext-powerpoint {
    color: #d24726;
}
.ext-sheet, .ext-excel {
    color: #217346;
}
.ext-audio {
    color: orange;
}
.ext-video {
    color: #1e90ff;
}
.ext-img {
    color: #ff69b4;
}
.ext-txt {
    color: #808080;
}
.ext-unknown {
    color: #808080;
}
.ext-iso {
    color: #808080;
}
.ext-archive {
    color: #31338c;
    /*background: linear-gradient(180deg, rgba(183,28,53,1) 0%, rgba(113,17,32,1) 33%, rgba(64,65,143,1) 33%, rgba(50,52,142,1) 66%, rgba(34,175,72,1) 66%, rgba(17,95,36,1) 100%);*/
    /*display: inline-block;*/
    /*-webkit-background-clip: text;*/
    /*color: transparent;*/
}
.ext-diagrams {
    color: #f08705;
}
.ext-torrent {
    display: inline-block;
    background: linear-gradient(90deg, rgb(217, 36, 36) 0%, rgb(217, 36, 36) 50%, rgb(35, 47, 255) 50%, rgb(35, 47, 255) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.ext-data {
    color: #a0325d;
}
.ext-font {
    color: #a0325d;
}
/*.ext-exec {*/
/*    display: inline-block;*/
/*    -webkit-background-clip: text;*/
/*    color: transparent;*/
/*    background: linear-gradient(128deg, rgba(85,125,169,1) 0%, rgba(104,181,116,1) 100%);*/
/*}*/