<div class="menu">
    {% if settings["upload"] %}
        <div class="menu-item">
            <i class="fa-solid fa-file-arrow-up fa-2x menu-item-icon"></i>
            <span class="menu-item menu-item-name" onclick="upload_file( '{{ path }}' )">Upload File</span>
        </div>
    {% endif %}
    {% if settings["create_folder"] %}
        <div class="menu-item">
            <i class="fa-solid fa-folder-plus fa-2x menu-item-icon"></i>
            <span class="menu-item menu-item-name" onclick="create_folder( '{{ path }}' )">Create Folder</span>
        </div>
    {% endif %}
</div>

